.site-logo{
    width: 20%;
}
.menu a{
    text-decoration: none;
    color: #fff;
    padding: 0px 15px;
}
.login-form{
    width: 300px;
    margin: 0 auto;
    .input-field{
        padding: 8px 20px;
        border-radius: 5px;
        outline: none;
        border: 2px solid #666161;
    }
    .input-field-error{
        border:2px solid red;
        padding: 8px 20px;
        border-radius: 5px;
    }
    .login-btn{
        font-weight: 900;
        letter-spacing: 1.5px;
    }
    p{
        padding: 0px 34px;
    }
    .ref-link{
        color: blue;
        cursor:pointer;
    }
}